
.footer{
    border-top: 0.2vw solid rgb(0,0,0,0.3);
    margin-top: 3vw;
    padding-top: 2vw;
    width: 100%;
    display: flex;
    justify-content: center;
}
.element{
    display: flex;
    align-items: center;
    font-size: 1vw;
    gap: 0.4vw;
    margin-bottom: 1vw;
    margin-right: 3vw;
}
.element>img{
    width: 2.5vw;
}

@media (max-width: 768px) {
    .element{
        font-size: 2vw;
        gap: 0.8vw;
        margin-bottom: 1vw;
        margin-right: 3vw;
    }
    .element>img{
        width: 5vw;
    }
}
