.background{
    justify-content: center;
    background-image: url(../../image/background/awan.jpeg);
    background-size: 100vw;
    top: 0;
    left: 0;
    background-position-y: 50%;
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
}
.konten-container{
    width: 100%; 
    padding: 0 5vw 0;
    box-sizing: border-box;
}
.konten{
    display: flex;
    width: 100%; 
    /* background-color: rebeccapurple; */
    flex-direction: column;
    padding: 4vw 5vw 0;
    box-sizing: border-box;
}
.konten>.atas{
    width: 100%;
    height: 3.5vw;
    border-top-left-radius: 4% 80%;
    border-top-right-radius: 4% 80%;
    background-color: white;
}
.konten>.tengah{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    min-height: 30vw;
    padding: 0 4vw;
    box-sizing: border-box;
}
.tengah>.judul{
    width: 100%;
    text-align: center;
    font-size: 1.7vw;
    border-bottom: 0.2vw solid rgb(0,0,0,0.3);
    padding-bottom: 1vw;
}
.konten>.bawah{
    width: 100%;
    height: 3.5vw;
    border-bottom-left-radius: 4% 80%;
    border-bottom-right-radius: 4% 80%;
    background-color: white;
}
#item-container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    margin: 2vw 3vw;
    gap: 2vw;
}
.berita{
    width: 20vw;
    height: 15vw;
    text-decoration: none;
    background-size: 100%;
    background-position: center;
    color: white;
    border-radius: 5%;
    box-shadow: 0.4vw 0.4vw 0.9vw black;
}
.pagination{
    margin-bottom: 1vw;
    display: flex;
    gap: 0.2vw  ;
}
.pagination button{
    width: 3vw;
}
.pagination button.active {
    background-color: #007bff;
    color: white;
}
.pagination button:disabled {
    background-color: #ccc;
    cursor: default;
}
.judul-foto{
    height: 100%;
    display: flex;
    align-items: end;
    padding: 1vw 1vw;
    box-sizing: border-box;
}
.judul-foto>img{
    width: 100%;
}
.judul-foto>h3{
    box-sizing: border-box;
    font-size: 1.5vw;

    display: -webkit-box;
    -webkit-line-clamp: 2;       /* Batas maksimal 3 baris */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.judul-foto>h3:hover{
    font-size: 1.1vw;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* Batas maksimal 3 baris */
    -webkit-box-orient: vertical;
    /* margin-top: 5vw; */
    overflow: hidden;
    text-overflow: ellipsis;
}