/* *{
    filter:brightness(80%);
} */
.konten{
    padding: 8vw 5vw 0;
    box-sizing: border-box;
}
.background{
    justify-content: center;
    background-image: url(../../image/background/awan.jpeg);
    background-size: 100vw;
    top: 0;
    left: 0;
    background-position-y: 50%;
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
}
.konten-container{
    width: 100%;
    padding: 4vw 5vw 0;
    box-sizing: border-box;
}
.konten{
    display: flex;
    width: 100%; 
    /* background-color: rebeccapurple; */
    flex-direction: column;
    padding: 0 5vw 0;
    box-sizing: border-box;

}
.konten>.atas{
    width: 100%;
    height: 3.5vw;
    border-top-left-radius: 4% 80%;
    border-top-right-radius: 4% 80%;
    background-color: white;
}
.konten>.bawah{
    width: 100%;
    height: 3.5vw;
    border-bottom-left-radius: 4% 80%;
    border-bottom-right-radius: 4% 80%;
    background-color: white;
}
.konten>.tengah{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    min-height: 30vw;
    padding: 0 4vw;
    box-sizing: border-box;
}
.tengah>.judul{
    width: 100%;
    text-align: center;
    font-size: 1.7vw;
    border-bottom: 0.2vw solid rgb(0,0,0,0.3);
    padding-bottom: 1vw;
}
.tengah>.isi{
    padding-top: 1vw;
    width: 100%;
    font-size: 1.5vw;
    text-align: justify;
}
.isi h3{
    margin-bottom: 1.5vw;
}
.isi p{
    margin-bottom: 1vw;
    text-indent: 3vw;
    /* background-color: rebeccapurple; */
}
.foto{
    height: 20vw;
    width: 30vw;
    margin: 3vw 0 0 2vw;
    overflow: hidden;
    box-sizing: border-box;
    float: right;
    border-radius: 5%;
    box-shadow: 1px 1px 0.5vw black;
}
.foto>img{
    width: 100%;
}
.slider-container{
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    overflow: hidden;
}
.slider-track{
    display: flex;
    transition: transform 2s ease-in-out;
}
.slide{
    padding: 0.1vw;
    height: 20vw;
    overflow: hidden;
    flex: 0 0 calc(50% - 0.1vw);
    scroll-snap-align: start;
    
    border-radius: 5%/10%;
}
.slide img{
    width: 99%;
    height: auto;
    display: block;
}
.na{
    display: none;
}
/* .na{
    position: absolute;
    top: 50%;
    width: 10vw;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 24px;
    padding: 0.1vw;
    cursor: pointer;
    z-index: 2;
    opacity: ;
}
.prev{
    left: 0;
}
.next{
    right: 0;
} */
.dots{
    text-align: center;
    /* bottom: 0; */
    margin-top: 10px;
    display: flex;
    /* align-items: end; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2vw;
    padding-bottom: 1vw;
    border-bottom: 0.2vw solid rgb(0,0,0,0.3);
}

.dots .dot{
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.slider-container{
    display: flex;
    flex-direction: column;
}

.dots .dot.active{
    background-color: #333;
}

.informasi-lainnya{
    width: 100%;
    margin-top: 2vw;
}
.informasi-lainnya ul{
    padding-left: 1.5vw;
}

@media (max-width: 768px) {
    .background{
        justify-content: center;
        background-image: url(../../image/background/awan.jpeg);
        background-size: 400vw;
        top: 0;
        left: 0;
        background-position-y: 50%;
        z-index: -1;
        position: fixed;
        width: 100%;
        height: 100%;
    }
    .konten-container{
        width: 100%;
        padding: 4vw 0.1vw 0;
        box-sizing: border-box;
    }
    .tengah>.judul{
        width: 100%;
        text-align: center;
        font-size: 4.5vw;
        border-bottom: 0.2vw solid rgb(0,0,0,0.3);
        margin: 2vw;
        padding-bottom: 2vw;
    }
    .tengah>.isi{
        padding-top: 1vw;
        width: 100%;
        font-size: 3vw;
        text-align: justify;
    }
    .isi h3{
        margin-top: -12vw;
        margin-bottom: 3vw;
    }
    .isi p{
        margin-bottom: 1vw;
        text-indent: 5vw;
        /* background-color: rebeccapurple; */
    }
    .dots .dot{
        height: 6px;
        width: 6px;
        margin: 0 3px 1vw;
    }
    .foto{
        height: 40vw;
        width: 100%;
        margin-bottom: 5vw;
    }
    .foto>img{
        margin-top: -15vw;
    }
}