<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="bgk">
            <img class="bg" src="../image/gambar/unnamed.jpeg">
        </div>  
    <div class="header">
        <div class="nav">
            <a href="index.html" class="aktif menu home">HOME</a>
            <a href="profile.html" class="menu tentang">PROFILE</a>
            <a href="pendaftaran.html" class="menu pendaftaran">PENDAFTARAN</a>
            <a href="listBerita.html" class="menu event">BERITA</a>
            <a href="galery.html" class="menu galery">GALERY</a>
        </div>
    </div>
    <div class="judul">
        <h1 class="j1">SD NEGERI</h1>
        <h1 class="j2">LEUWIMANGGU</h1>
        <h1 class="j3">Desa Sukakarya</h1>
    </div>
    <div class="menuUtama">
        <div class="konten">
            <a href="profile.html" class="utama">
                <table>
                    <tr>
                        <td>
                            <div class="img">
                                <img id="school" src="../image/logo/school.png">
                            </div>
                        </td>
                        <td>
                            <p>INFORMASI</p>
                            <P>SEKOLAH</P>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <p class="view">VIEW MORE ></p>
                        </td>
                    </tr>
                </table>
            </a>
        </div>
        <div class="konten">
            <a href="pendaftaran.html" class="utama">
            <table>
                    <tr>
                        <td>
                            <div class="img">
                                <img id="reg" src="../image/logo/regis.jpg">
                            </div>
                        </td>
                        <td>
                            <p>INFORMASI</p>
                            <P>PENDAFTARAN </P>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <p class="view">VIEW MORE ></p>
                        </td>
                    </tr>
                </table>
            </a>
        </div>
        <div class="konten">
            <a href="listBerita.html" class="utama">
            <table>
                    <tr>
                        <td>
                            <div class="img">
                                <img src="../image/logo/news.jpg">
                            </div>
                        </td>
                        <td>
                            <p>BERITA</p>
                            <P>SEKOLAH</P>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <p class="view">VIEW MORE ></p>
                        </td>
                    </tr>
                </table>
            </a>
        </div>
    </div>
</body>
<footer>
    <div class="menu">
        <p>Informasi Pendaftaran</p>
        <img src=""> <!-- telepon -->
        <p class="nomor">087772576750</p>
        <img src=""> <!-- email -->
        <p class="mail">email : raflirr70@gmail.com</p>
    </div>
</footer>
</html>